<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sichere</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/hurtoapersonas">Hurto a Personas <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/hurtoaresidencias">Hurto a Residencias</a>
                <a class="nav-item nav-link" href="/homicidios">Homicidios</a>
            </div>
        </div>
    </div>
</nav>