<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{title}}</h1>
        <p class="lead text-muted">{{descripcion}}</p>
        <p>
            <a href="#" class="btn btn-primary">Empezar</a>
        </p>
    </div>
</section>